body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
    
}

.box {
    
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 20px;
    text-align:left;
    margin-top: 10px;
    width: 90%; 
    height: 90%; 
    border-radius: 15px;
}

.h1bio {
    font-size: 200%;
    font-style: initial;
}
.h2bio{
    font-size: 100%;
}


